<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:07:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;populate_data.afterClass()[pri:0, instance:populate_data.populate_data@7085bdee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:07:18</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;populate_data.afterMethod()[pri:0, instance:populate_data.populate_data@7085bdee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:07:18</td>   <td>876</td> <td title="&lt;&lt;populate_data.afterSuite()[pri:0, instance:populate_data.populate_data@7085bdee]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:07:18</td>   <td>860</td> <td>&nbsp;</td><td title="&lt;&lt;populate_data.afterTest()[pri:0, instance:populate_data.populate_data@7085bdee]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:06:31</td>   <td>-46064</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;populate_data.beforeClass()[pri:0, instance:populate_data.populate_data@7085bdee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:06:36</td>   <td>-41499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;populate_data.beforeMethod()[pri:0, instance:populate_data.populate_data@7085bdee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:06:31</td>   <td>-46064</td> <td title="&gt;&gt;populate_data.beforeSuite()[pri:0, instance:populate_data.populate_data@7085bdee]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:06:31</td>   <td>-46064</td> <td>&nbsp;</td><td title="&gt;&gt;populate_data.beforeTest()[pri:0, instance:populate_data.populate_data@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>16/08/23 12:06:36</td>   <td>-41499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="populate_data.test_approve_deny_mbs()[pri:3, instance:populate_data.populate_data@7085bdee]">test_approve_deny_mbs</td> 
  <td>main@280884709</td>   <td></td> </tr>
</table>
