<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:04</td>   <td>0</td> <td title="&gt;&gt;populate_data.beforeSuite()[pri:0, instance:populate_data.populate_data@233c0b17]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;populate_data.beforeTest()[pri:0, instance:populate_data.populate_data@233c0b17]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:04</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;populate_data.beforeClass()[pri:0, instance:populate_data.populate_data@233c0b17]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:08</td>   <td>3472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;populate_data.beforeMethod()[pri:0, instance:populate_data.populate_data@233c0b17]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:08</td>   <td>3472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="populate_data.test_approve_deny_mbs()[pri:3, instance:populate_data.populate_data@233c0b17]">test_approve_deny_mbs</td> 
  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:30</td>   <td>25981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;populate_data.afterMethod()[pri:0, instance:populate_data.populate_data@233c0b17]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:30</td>   <td>25981</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;populate_data.afterClass()[pri:0, instance:populate_data.populate_data@233c0b17]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:31</td>   <td>26854</td> <td>&nbsp;</td><td title="&lt;&lt;populate_data.afterTest()[pri:0, instance:populate_data.populate_data@233c0b17]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>16/08/22 16:42:31</td>   <td>26854</td> <td title="&lt;&lt;populate_data.afterSuite()[pri:0, instance:populate_data.populate_data@233c0b17]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849433705</td>   <td></td> </tr>
</table>
